@charset "UTF-8";

/* 画面のスタイルシート */
body{
    font-family: "Noto Sans JP",sans-serif;
    margin: 0;
    min-width:1080px;
}

h4{
    font-size:16px;
    color:white;
    padding-bottom: 20px;
    padding-top: 20px;
}

h5{
    color:#4d4c4c;
    position: relative;
    margin: 10px 10px 1rem;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
}
h5:before {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 31%;
    height: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #4d4c4c;
    border-radius: 0px;
}

a{
    text-decoration: none;
}
footer{
    margin-top: 50px;
    padding: 30px;
    color:#4d4c4c;
    background-color: #dedada;
    text-align: center;
    font-size: 10px;
}

/* home */
#home{
    width:100%;
    height:680px;
    background-color:#888888;
    background-image: linear-gradient(#75BDD3,#55C4BB);
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#home .menutitle a{
    color:#ffffff;
    position: relative;
    display: inline-block;
    margin: 10px 10px 1rem;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
}
#home .menutitle a:before {
    content: '';
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 70%;
    height: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #6AEDC8;
    border-radius: 0px;
}

#home .my{
    display:flex;
    padding-top: 40px;
}

#home .my .photo{
    margin-top: 45px;
    margin-left: 200px;
    display: inline-block;
    width: 240px;
    height: 240px;
    text-align:center;
    line-height: 38px;
    border-radius: 50%;
    border: solid 2px white;
}
#home .my .photo img{
    width: 95%;
    margin-top: 5px;
}

#home .my .name{
    width:50%;
    text-align:center;
    color: #ffffff;
}

#home .my .name h3{
    font-size: 40px;
    font-weight:normal;
    position: relative;
    display: inline-block;
    margin: 70px 10px 1rem;
    text-decoration: none;
    letter-spacing: 7px;
}

#home .my .name h3:before {
    content: '';
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 100%;
    height: 3px;
    left: 200px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #6AEDC8;
    border-radius: 0px;
}

#home .my .name h2{
    font-size: 30px;
    font-weight:normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

#home .my .name p{
    font-size: 30px;
    font-weight:normal;
    margin-top: 10px;
}

/* about */
#about{
    text-align: center;
}

#about p{
    padding-top: 80px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    letter-spacing: 10px;
}

#about img{
    padding-top: 0px;
    height: 35px;
}

#about .skil{
    margin-left: 12%;
    padding-top: 40px;
    width: 76%;
    font-size: 14px;
    letter-spacing: 5px;
}

#about .pr{
    margin-left: 20%;
    width: 60%;
    padding-top: 40px;
    font-size: 16px;
    letter-spacing: 7px;
}

#about .email{
    font-size: 14px;
    letter-spacing: 2px;
}

#about .sns{
    padding-top: 10px;
    height: 40px;
    display: block;
    text-align: center;
}

#about .sns .git{
    height: 100%;
    padding-right: 10px;
}

#about .sns .link{
    height: 100%;
    padding-left: 10px;
}

/* projects */

#projects{
    width:100%;
    height: 1350px;
    text-align: center;
    background-color:#53bd9d;
    -webkit-clip-path:polygon(0 20%, 100% 0, 100% 100%, 0% 80%);
    clip-path:polygon(0 20%, 100% 0, 100% 100%, 0% 80%);
}

#projects p{
    color:white;
    padding-top: 305px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    letter-spacing: 10px;
}

#projects .projectlogo{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

#projects img{
    border-top: 52px;
    height: 40px;
}

#projects .projectlist{
    width: 100%;
    display: inline-flex;
}

/* project */
#projects .project{
    margin: auto;
    width: 50%;
    height:  1500px;
}

#projects .project img{
    width:50%;
    height:300px;
}

#projects .project p{
    font-size: 14px;
    color:white;
    padding-top: 0px;
    padding-left: 25%;
    letter-spacing: 1px;
    text-align: left;
}

#projects .project .test{
    font-size: 14px;
    color:white;
    padding-top: 10px;
    padding-left: 25%;
    letter-spacing: 1px;
    text-align: left;
}

#projects .project .email{
    font-size: 14px;
    color:white;
    padding-top: 10px;
    padding-left: 25%;
    letter-spacing: 1px;
    text-align: left;
}

#projects .project .pass{
    font-size: 14px;
    color:white;
    padding-top: 10px;
    padding-left: 25%;
    letter-spacing: 1px;
    text-align: left;
}

#projects .project .linkbutton{
    display: flex;
    padding-left: 30%;
}

#projects .project .linkbutton a{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    border: solid 2px white;
    padding:2px;
    text-decoration: none;
    color:white;
}

/* #Contact */
#contact{
    width:100%;
    text-align: center;
}

#contact p{
    color:#4d4c4c;
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    letter-spacing: 10px;
}

#contact .contactlogo{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

#contact img{
    border-top: 52px;
    height: 40px;
}

#contact .contactlist{
    width: 100%;
    display: flex;
}

/* .contact */
#contact .contact{
    margin: 10px 13%;
    border-top: solid 8px #53bd9d;
    background-color: #dedada;
    padding-bottom: 40px;
    text-decoration: none;
    width: 50%;
}

#contact .contact img{
    margin-top: 15px;
    height: 50px;
}

#contact .contact p{
    font-size: 18px;
    color:#4d4c4c;
    padding-top: 15px;
    letter-spacing: 1px;
    text-align: center;
}

/* レスポンシブ対応 */

@media screen and (max-width: 767px) {
    body{
        min-width: 100%;
    }
    
    #home{
        height:530px;
    }

    #home .my{
        display:block;
        text-align: center;
    }

    #home .my .photo{
        margin:auto;
    }

    #home .my .name{
        width:100%;
    }

    #home .my .name h3{
        margin-top: 25px;
        font-size:26px;
        letter-spacing: 5px;
    }

    #home .my .name h3:before {
        width:100%;
        left:50%;
    }

    #home .my .name h2{
        font-size:26px;
    }

    #home .my .name p{
        font-size: 22px;
    }

    #about p{
        padding-top: 60px;
        font-size:20px;
    }

    #about img{
        height:22px;
    }

    #about .skil{
        margin-left:5%;
        padding-top: 25px;
        width:90%;
        font-size:6px;
    }

    #about .pr{
        font-size:6px;
    }

    #about .email{
        padding-top: 20px;
        font-size:12px;
    }

    #about .sns{
        height:35px;
    }

    #projects{
        height:1500px;
        -webkit-clip-path:polygon(0 7%, 100% 0, 100% 100%, 0% 93%);
        clip-path:polygon(0 7%, 100% 0, 100% 100%, 0% 93%);
    }

    #projects p{
        padding-top: 100px;
        font-size:20px;
    }
    
    #projects .projectlogo{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #projects img{
        height:22px;
    }

    #projects .projectlist{
        display:block;
    }

    #projects .project{
        width:100%;
        height:600px;
    }

    #projects .project img{
        width:80%;
    }

    #projects .project p{
        font-size:12px;
        padding-left:10%;
    }

    #projects .project .test{
        padding-left:15%;
    }

    #projects .project .email{
        padding-left:10%;
    }

    #projects .project .pass{
        padding-left:10%;
    }

    #projects .project .linkbutton a{
        margin-right:20px;
    }

    #contact p{
        padding-top:40px;
        font-size:20px;
    }

    #contact .contactlogo{
        padding-top:5px;
        padding-bottom:20px;
    }

    #contact img{
        height:22px;
    }

    #contact .contactlist{
        display:block;
    }

    #contact .contact{
        display:inline-block;
        width:70%;
    }

    footer{
        font-size: 8px;
    }
}
